.navBarDiv{
  background-color: lightblue;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.navList{
  display: flex;
  flex-direction: row;
  list-style: none;
  width: max-content;
}

.navListItem{
  margin-left: 10px;
  background-color: blue;
  padding: 5px 20px;
  border-radius: 50px;
  a{
    color: white;
    text-decoration: none;
  }
}